@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

html {
	background-color: black;
	color: white;
	font-family: "Jacquard 12";
}

h2 {
	font-size: xx-large;
}

.mainHeader {
  display: flex;
  justify-content: space-around;
	font-size: x-large;

}
	.mainNav {
 	 width: 70%;
	}
	.mainNav > div {
 	 display: flex;
	}
	.mainNav > div > div {
 	 padding: .5em 0 .5em 0;
   flex-grow: 1;
 	 display: flex;
 	 justify-content: center;
	 background-color: white;
	 color: black;
	}

	.second {
		border-left: 4px solid black;
		border-right: 4px solid black;
	}

	@media (max-width: 600px) {
 	 .mainNav {
	    width: 100%
	  }
	}

.homeContent {
	text-align: center;
}
